*{
 margin:0% ;
 padding:0% ;
 box-sizing: border-box;
}
html,body{
 height: 100%;
 width: 100%;
 text-align: center;
}
h1{
    margin-top: 50px;
}

#colorBox{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 30px;
}

#generateCode{
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    background-color: blue;
    color: white;
    
}

#copyCode{
    padding: 7px 10px;
    cursor: pointer;
    margin-top: 20px;
    background-color: rgb(14, 132, 14);
    color: white;
    border: none;
}
#colorCode{
    margin-top: 40px;
    font-size: 24px;
}

#copyCode:hover{
    background-color: rgb(13, 90, 13);
    transition: 0.3s;
}
#generateCode:hover{
    background-color: rgb(19, 19, 140);
    transition: 0.3s;
}